@import '~app/scss/main.scss';

.IntroScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: col2 / col3;
    grid-row: row2 / row3;
}

.IntroScreen__title {
    padding: 1em;
    font-size: 40px;
    font-weight: 600;
    color: $color-1;
}