.ConnectedUsers {
    display: block;
    min-width: 225px;
    margin-right: 0.2rem;
    padding: 0 0.5rem 0.5rem 0;
    font-size: 1.2rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.ConnectedUsers__header {
    font-size: 1.25rem;
    font-weight: bold; 
    padding-bottom: 1rem;
}

.ConnectedUsers__shrug {
    text-align: center; 
    color: orange; 
    font-weight: bold; 
    padding: 1rem 0 0 0;  
}

.ConnectedUsers__row {
    padding: 0.25rem 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lighten(#444, 60%);    
}

.ConnectedUsers__nickname-cell {
    padding: 0.25rem 1rem; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   
    flex: 1;  
}