$padding: 0.5em;
$color-1: #444   !default;
$font-size: 1.25rem !default;

@mixin Global__input {
    width: 100%;
    padding: $padding;
    color: $color-1;
    font-size: $font-size;
    background: transparent;
    border: 1px solid $color-1;
    &:focus::-webkit-input-placeholder {
        color: transparent;
    }
    &::-webkit-input-placeholder {
        opacity: 0.54;
    }    
}