<div class="w3-modal-content">
    <header class="w3-container w3-red">
        <span onclick="document.getElementById('errorModal').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
        <h2>\{{title}} \{{status}}</h2>
    </header>
    <div class="w3-container">
        <h3>\{{message}}</h3>
    </div>
</div>
