{{#error}} {{!-- {{#error}} is used to namespace the properties within this widget --}}
<h1 class="w3-text-red w3-left">{{title}} {{status}}</h1>
<div class="w3-bar w3-light-grey">
    {{#session}}
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="/logout" class="w3-bar-item w3-button w3-blue w3-right">Sign out</a>
    {{/session}}
</div>
<div class="w3-container">
    <h3>{{message}}</h3>
</div>
{{/error}}