<header class="w3-container w3-light-grey">
    <h3>{{user.name}}</h3>        
</header>
<div class="w3-container">
    <p>Role: <span><b>{{user.role}}</b></span></p>
    <hr>
    <div>
    <img src="/images/john.jpg" alt={{user.name}} class="w3-left 
    w3-margin-right w3-margin-bottom">
    </div>
    <p>{{user.bio}}</p>
</div>