<div class="w3-display-topmiddle">
	<h1 class="w3-text-blue title-box">{{title}}</h1>
	<div class="w3-section">
		<p>{{message}}</p>
		<form method="post" action="/login">
			<input class="w3-input w3-border w3-section" type="text" autofocus="autofocus" name="username" placeholder="Username">								
			<input class="w3-input w3-border" type="password" name="password" placeholder="Password">
			<button class="w3-button w3-half w3-right w3-section w3-blue">Sign in</button>
		</form>
	</div>
</div>